  /* Biografia */

main {
      margin-top: 80px;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
}

.infoGeneral {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fotoPrincipal {
    width: 100%;
    margin: 0 2%;
}

img {
    width: 100%;
}

.formacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centros {
    display: flex ;
    flex-direction: column;
    justify-content: start;
}

.miscelanea {
    display: flex ;
    flex-direction: column;
    justify-content: center;
}

.collage {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2%;
}

.collage figure {
    width: 30%;
    margin: 0;
}

.collage figure img {
    width: 100%;
}



/* Menu de navegación */

header {
    background-color: rgb(13, 80, 58);
    width: 100%;
    position: fixed;
    top: 0
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    width: 30%;
    margin-left: 5%;
    color: rgb(128, 240, 128);
}

.links {
    display: flex;
    justify-content: space-around; 
    width: 70%;
    margin-right: 3%;
}

.section a {
    text-decoration: none;
    color: rgb(255, 255, 255);  
}

.section a:hover  {
    background-color: rgb(108, 206, 152);
    color: rgb(24, 71, 63);
    transition: background-color 1s;
}

.content {
    display: none;
}

.dropdown:hover .content {
    display: block; 
    background-color: rgb(108, 206, 152);
    color: rgb(24, 71, 63);     
}

.content a:hover {
    background-color: rgb(24, 71, 63);
    color: rgb(108, 206, 152);
    text-decoration: none;
} 


/* index */

.index {
    background: url("dobleojo.jpg") no-repeat center center/cover;
    background-color: #2859868c;
    height: 100vh;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: rgba(0, 53, 53, 0.568);
    font-family:Big Shoulders Display;
}

.home h1, .home p {
    color: rgb(255, 255, 255);
    margin: 0 15%;
}

.home h1 {
    font-size: 40px;
}

footer {
    background-color: teal;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        opacity:1;
    transform: scale(1);
    }
}

#bienvenida {
    animation: fadeIn 5s;
}

/* Trabajos */


.wrapperTrabajo {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 181, 255)
}

.caja {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 3px;
}

.fary, .manolo, .rocio, .lola {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 3%;
}

.fary {
    margin-top: 20px;
}

.lola {
    margin-bottom: 20px;
}

.texto {
    width: 85%;
    margin-left: 3%;
}

.imagen {
    width: 90px;
    height: 90px;
    /* width: 15%; */
    margin:0;
    padding:0;
    border-radius: 50%;
}

.imagen img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.texto h1, .texto h2 {
    font: bold;
    line-height: 10px;
    color: rgb(94, 94, 94);
}

.texto p {
    color: rgb(194, 192, 192);
}

hr {
    border : 1px solid rgb(230, 230, 230);
    /* border-radius: 50%; */
    margin: 5px 3%;
}

/*  */


/*  */

/* Contacto */

.infoContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre, .apellidos, .asunto, .mensaje, .correo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 5%;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5px 5%;
}



/*  */

/* responsive */

@media screen and (min-width: 321px) {
   
    
    /* biografia */
    .wrapper {
        width: 320px;
    }
    .infoGeneral {
        flex-direction: row;
    }
        img {
            width: 150px;
        }
    .formacion {
        flex-direction: row;
        justify-content: space-around;
    }

    .centros {
        width: 33%;
    }
    
    /* form */

    .nombre, .apellidos, .asunto, .mensaje, .correo {
        flex-direction: row;
        justify-content: space-between;
    }

    .botones {
        flex-direction: row;
        justify-content: flex-end;
    }

    /* trabajos */

    .wrapperTrabajo {
        width: 320px;
    }
}

@media screen and (min-width: 481px) {
   
    main {
        margin-top: 59px;
    }
    /* biografia */
    .wrapper {
        width: 480px;
    }
   
    img {
            width: 200px;
    }

    .miscelanea {
        flex-direction: row;
        justify-content: space-between;
    }

    .wrapperTrabajo {
        width: 480px;
    }
    
}

@media screen and (min-width: 769px) {
   
    /* biografia */
    .wrapper {
        width: 768px;
    }
    
    .collage figure {
        width: 20%;
    }

    .wrapperTrabajo {
        width: 768px;
    }
}